<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MÉS MILLOR - CENTRO DE YOGA Y PSICONUTRICIÓN</title>
    <link rel="icon" href="{{ baseUri }}./static/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ baseUri }}./static/styles.css">
    <link rel="stylesheet" href="{{ baseUri }}./static/paginas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% block links %}{% endblock %}
</head>
<body>
    <!-- Encabezado -->
    <header>
        <a href="{{ baseUri }}./"><img class="logo" src="{{ baseUri }}./static/images/logo.png" alt="Logo Mes Millor"></a>
        <nav>
            <div class="secondary">
                <input type="checkbox" id="check">
                <div class="dropdown">
                    <a href="{{ baseUri }}./clases-de-yoga"><span>Clases de Yoga</span></a>
                    <a href="{{ baseUri }}./psiconutricion"><span>Psiconutrición</span></a>            
                    <a href="{{ baseUri }}./yoga-para-embarazadas"><span>Yoga para embarazadas</span></a>
                    <a href="{{ baseUri }}./yoga-postnatal"><span>Yoga Postnatal</span></a>
                </div>
                <label for="check"><span class="open-menu">···</span></label>
            </div>
            <a href="{{ baseUri }}./"><span>Inicio</span></a>
            <a href="{{ baseUri }}./clases-de-yoga"><span>Yoga</span></a>
                <div class="dropdown">
                    <a href="{{ baseUri }}./clases-de-yoga"><span>Clases de Yoga</span></a>
                    <a href="{{ baseUri }}./yoga-para-embarazadas"><span>Yoga para embarazadas</span></a>
                    <a href="{{ baseUri }}./yoga-postnatal"><span>Yoga Postnatal</span></a>
                </div>
            <a href="{{ baseUri }}./psiconutricion"><span>Psiconutrición</span></a>
        </nav>
        <a class="inst-a" href="https://www.instagram.com/mes_millor/" target="_blank">
            <button class="instagramButton" type="submit">
                <img src="{{ baseUri }}./static/images/instagram.png" alt="Instagram">
                <text>INSTAGRAM</text>
            </button>
        </a>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
    <footer>
        <div class="footer">
            <a class="footer-item" href="{{ baseUri }}./"><img class="logo" src="{{ baseUri }}./static/images/logo.png" alt="Logo Mes Millor"></a>
            <div class="footer-descripcion footer-item">
                <p>Centro de yoga, psiconutrición y psicología en la Sagrera, Barcelona. Espacio de crecimiento y desarrollo personal. Actividades orientadas a mantener el equilibrio físico, mental y psciológico.</p>
                <p>Clases de yoga en Barcelona · Psicología · Psiconutrición · Yoga para embarazadas en Barcelona · Grupos de embarazo y posparto Barcelona· Yoga posnatal con bebés Barcelona · Acompañamiento maternidad Barcelona</p>
            </div>
            <div class="footer-contacto footer-item">
                <h4>Contacto</h4>
                <div class="contacto-info">
                    <p>info@mesmillor.com</p>
                    <p>644 37 61 70</p>
                    <p>C/ Felip II, 23, entr. 4, 08027 Bcn</p>
                    <a target="_blank" href="https://www.instagram.com/mes_millor/">
                        <button class="inst-footer" type="submit">
                            <img src="{{ baseUri }}./static/images/instagram.png" alt="Instagram">
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="idiomas">

        </div>
    </footer>
</body>
</html>