{% extends "layout.html" %}
{% block title %}- Psiconutrición{% endblock %}
{% block links %}{% endblock %}

{% block main %}
    <div class="psiconutricion">
        <!-- AQUI TODO EL CUERPO DE LA PAGINA -->
        <div class="tresTitulos">
            <h4>EL CAMINO PARA NUTRIR TU CUERPO Y ENTRENAR TU MENTE</h4>
            <h2>Psiconutrición</h2>
            <p>Un viaje de transformación personal a través de la alimentación consciente, el movimiento y el conocimiento de tu cuerpo</p>
            <div class="linea"></div>
        </div>
        <section class="imagenTexto">
            <img src="{{ baseUri }}./static/images/escalera.jpg" alt="Como te ayudamos">
            <div class="texto">
                <h2 class="titulo-seccion">¿Cómo te ayudamos?</h2>
                <ul>
                    <li>
                        <p><b>Entrenar y sostener hábitos saludables.</b> Te ayudamos a crear rutinas que te sirvan ahora y que puedas mantener a largo plazo. </p>
                    </li>
                    <li>
                        <p><b>Confiar en tu cuerpo.</b> No podemos confiar en los mensajes del cuerpo si no lo sentimos como un lugar seguro. Trabajamos contigo para que puedas reconciliarte con tu cuerpo, conocer como se expresa y qué necesita para regularse.</p>
                    </li>
                    <li>
                        <p><b>Nutrirte desde el placer y la presencia.</b> Aprenderás a alimentarte de manera consciente, saludable y nutritiva, disfrutando de la comida sin culpa y sin remordimiento. Se trata de escuchar lo que tu cuerpo realmente necesita y darle lo que merece, sin excesos y con equilibrio.</p>
                    </li>
                    <li>
                        <p><b>Actividad física para regular el cuerpo y la mente.</b> Integramos el movimiento consciente a través del yoga, ayudándote a regular tu sistema nervioso y que sea más fácil tomar decisiones saludables.</p>
                    </li>
                    <li>
                        <p><b>Transformar la relación con la comida.</b> Dejamos atrás las dietas restrictivas y el control obsesivo. Te enseñamos a cambiar el enfoque, a comer lo que tu cuerpo necesita, y a comprender la alimentación más allá del pensamiento, integrando la emoción y el instinto.</p>
                    </li>
                    <li>
                        <p><b>Mejorar la relación con tu cuerpo.</b> Aprenderás a desarrollar un lenguaje y mirada compasiva y amorosa, aceptando lo que ves en el espejo con respeto para dejar de avergonzarte.</p>
                    </li>
                </ul>
            </div>
        </section>
        <div class="separador-texto"><em>Te acompañamos a mejorar la relación que tienes con tu cuerpo, con la comida y contigo misma</em></div>
        <section class="imagenTexto">
            <img src="{{ baseUri }}./static/images/rosamar.jpg" alt="Reencontrarte contigo">
            <div class="texto">
                <h2 class="titulo-seccion">Reencontrarte contigo</h2>
                <p class="justificado">Imagina despertarte una mañana y ver en el espejo la imagen de la mujer que eres: <b>segura de ti misma, equilibrada, auténtica y satisfecha.</b> Mirarte con amor y tener claro que cada día <b>Comer conscientemente, disfrutar y saborear comida nutritiva y deliciosa, sin culpa, sin remordimiento y sin frustración.</b> Sentirte satisfecha contigo, con tus elecciones y con tu cuerpo. Priorizarte y darte permiso para existir en plenitud. Dar espacio a tu sensibilidad y a tu poder personal; aceptarte y hablarte con cariño y abrazar tu cuerpo cómo es.</p>
            </div>
        </section>
        <div class="tresFotos">
            <img src="../static/images/yoga.png" alt="imgn1">
            <img src="../static/images/yoga.png" alt="imgn2">
            <img src="../static/images/yoga.png" alt="imgn3">
        </div>
    </div>
{% endblock %}