{% extends "layout.html" %}
{% block title %}- Yoga postnatal{% endblock %}
{% block links %}{% endblock %}

{% block main %}
    <div class="yoga-postnatal-page">
        <section class="intro-postnatal">
            <h1 class="titulo">YOGA<br>POSTNATAL</h1>
            <img src="{{ baseUri }}./static/images/yinyan.jpg" alt="Yoga Postnatal">
        </section>
        <section class="con-tu-bebe">
            <h1 class="titulo-seccion">Yoga con tu bebé en Més Millor</h1>
            <div class="rombo"></div>
            <p>Después del período de cuarentena, -alrededor de la séptima semana después del parto, y siempre que te sientas recuperada-, es ideal practicar yoga con tu bebé. Las clases de yoga postnatal son un lugar en el que se comparten experiencias con otras mujeres que se encuentran en el mismo momento vital que tú, en un ambiente relajado, positivo y en confianza.<br>El yoga postnatal refuerza el vínculo y la comunicación entre la mamá y el bebé, así como el vínculo social con otras mujeres y sus bebés. De la misma manera que disfrutamos compartiendo momentos con personas afines a nosotras, los bebés adoran estar con otros bebés.</p>
        </section>
        <section class="imagenTexto">
            <img src="{{ baseUri }}./static/images/estrella.jpg" alt="Como te beneficia el yoga despues del embarazo">
            <div class="texto">
                <h2 class="subtitulos">¿Cómo te beneficia la practica de Yoga</h2>
                <h1 class="titulo">DESPUÉS DEL EMBARAZO</h1>
                <ul>
                    <li>
                        <p>Refuerza la musculatura del abdomen, piernas, brazos y suelo pélvico</p>
                    </li>
                    <li>
                        <p>Compartirás experiencias y te sentirás apoyada por otras mujeres</p>
                    </li>
                    <li>
                        <p>Reducirás tensiones y alejarás el estrés de tu vida, disfrutando más del momento</p>
                    </li>
                    <li>
                        <p>Estarás más relajada, optimista y feliz</p>
                    </li>
                </ul>
            </div>
        </section>
        <div class="info-postnatal">
            <h1 class="titulo-seccion">¿Cómo funciona una clase de yoga postnatal?</h1>
            <p>Es fácil adivinar que las clases en las que participan mamás y bebés poco tienen que ver a las que solamente participan mamás.<br>Tu bebé a veces estará tranquilo, a veces estará activo y a veces querrá que atiendas sus necesidades. Escuchando lo que el bebé necesita y adaptando la práctica a su estado y necesidades disfrutaréis juntos de una actividad muy beneficiosa para los dos.</p>
            <button class="no-button">PEDIR MAS INFO (en tu pagina no funciona)</button>
        </div>
    </div>
{% endblock %}