{% extends "layout.html" %}
{% block title %}- Yoga para embarazadas{% endblock %}
{% block links %}{% endblock %}

{% block main %}
    <div class="yoga-para-embarazadas-page">
        <h1 class="noMostrar">YOGA PARA EMBARAZADAS EN BARCELONA</h1>
        <h1 class="titulos">El embarazo respetado, con confianza y tranquilidad te permite vivir la experiencia más <br><span>CONSCIENTE Y PLENA</span></h1>
        <section class="imagenTexto">
            <img src="{{ baseUri }}./static/images/flor.jpg" alt="Clases de yoga prenatal">
            <div class="texto">
                <h2 class="titulo-seccion">Clases de yoga prenatal</h2>
                <p>¿Sabías que el yoga es la <b>actividad más recomendada durante el embarazo?</b></p>
                <p>Practicar yoga durante el embarazo te ayuda físicamente y emocionalmente. Dale a tu cuerpo el movimiento que necesita ahora, para mantenerse ágil y fuerte. Disfruta de dedicarte un tiempo para ti y vive el embarazo con más conciencia, confianza y tranquilidad. Practica con nosotros para encontrarte feliz y acompañada de mujeres maravillosas como tú.</p>
            </div>
        </section>
        <section class="horarios">
            <h2 class="titulo-seccion">Horarios</h2>
            <table class="general-text">
                <thead>
                    <tr>
                        <th><img src="{{ baseUri }}./static/images/dia.png" alt="Dia"></th>
                        <th><img src="{{ baseUri }}./static/images/hora.png" alt="Hora"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Martes</td>
                        <td>11:00h</td>
                    </tr>
                    <tr>
                        <td>Miércoles</td>
                        <td>18:00h</td>
                    </tr>
                </tbody>
            </table>
            <p class="bold">Puedes apuntarte en cualquier momento del embarazo, a partir de las 12 semanas.</p>
            <button class="no-button">SIN MATRICULA</button>
        </section>
        <section class="porque-yoga-embarazo">
            <h1>¿Por qué practicar yoga durante el embarazo?</h1>
            <div class="rombos">
                <div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div>
            </div>
            <p><b>El embarazo es el momento perfecto para dedicarte a ti.</b> Cambiar algunas cosas que piensas que puedes mejorar y <b>empezar hábitos</b> que te hagan bien.</p>
            <p>Las clases de yoga prenatal te ayudarán a mantenerte en forma, sentirte fuerte, confiada y equilibrada. Trabajamos ejercicios de <b>fuerza en piernas, brazos y espalda para preparar en el cuerpo durante todo el embarazo,</b> ya que tendrán que suportan unos cuántos kilos de más del que tu cuerpo está acostumbrado. Te ayudarán a estar más tranquila y te servirán como <b>preparación al parto</b> Practicar yoga en el embarazo también ayuda a mantener un <b>peso saludable</b> y un <b>tono muscular</b> bueno.</p>
            <p>Cuidar y reforzar el <b>suelo pélvico</b> es uno de nuestros objetivos en las clases de yoga prenatal. Los ejercicios de yoga prenatal permiten trabajar el control del suelo pélvico, no sólo con ejercicios de Kegel, sino muchas otras ásanas que ayudan a fortalecer el suelo pélvico.</p>
            <p>Los ejercicios de yoga, meditaciones, <b>ejercicios de respiración</b> y visualizaciones positivas nos permiten escuchar y observar el cuerpo y las sensaciones emocionales que surgen. <b>Conectamos con el bebé y nos vinculamos desde la atención plena, disfrutando de un inicio a la maternidad consciente.</b></p>
            <p>La práctica en la clase de yoga prenatal es suave y dinámica, dedicada al 100% al bienestar de la madre y al bebé. La pueden practicar mujeres embarazadas que no han practicado yoga antes y conseguirán mejorar su flexibilidad y movilidad.</p>
            <p>Los ejercicios que se practican están <b>enfocados a evitar los problemas más comunes</b> que surgen durante la gestación, como los <b>dolores de espalda, pinzamientos, ciática, rampas, pesadez en las piernas y corrección de la postura corporal.</b> Pero también están enfocados a evitar la <b>acidez, cansancio, problemas para dormir o la ansiedad.</b></p>
            <p><b>Gestionar y aceptar las emociones que afloran entre tanta revolución hormonal es también parte de este camino</b></p>
            <p>Durante el embarazo, las mujeres segregan relaxina, una hormona que permite una mayor flexibilidad de los ligamentos del cuerpo, especialmente de la pelvis. En nuestras clases de yoga para embarazadas en Més Millor, lo aprovechamos para trabajar la apertura de caderas, músculos y tendones, que facilitarán el parto natural vaginal.</p>
            <p><b>Ven a nuestras clases y vive tu embarazo más acompañada de mujeres como tú,  que están viviendo la misma experiencia de diversas maneras. Nútrete de este grupo de apoyo y confianza.</b></p>
            <h1 class="noMostrar">Talleres y actividades de Yoga para embarazadas Barcelona</h1>
            <div class="rombos">
                <div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div><div class="rombo"></div>
            </div>
        </section>
    </div>
{% endblock %}